<!DOCTYPE html>
<html>
<head>
    <title>DualPage</title>
    <style>
        body {
            display: flex;
            justify-content: space-between; /* Adjust as needed */
            margin: 0;
            padding: 0;
        }

        .size {
            width: 49%; /* Adjust as needed */
            height: 100vh;
            border: none;
        }
    </style>
</head>
<body>
    <iframe class="size" src="search.html"></iframe>
    <iframe class="size" src="teacherlist.html"></iframe>
</body>
</html>